@media (min-width: 360px){
*{
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    background:rgb(255, 183, 0);
}


.blackbutton {
    display: flex;
    justify-content: center;
    color: rgb(255, 183, 0);
    background: black;
    border-radius: 50px;
    border: none;
    margin: 11px;
    font-size: 14px;
    padding:  31px;
    width: 344px;
    font-family: 'Open Sans', sans-serif;

}
.blackbutton1 {
    color:black;
    background: rgb(255, 183, 0);
    border-radius: 50px;
    font-size: 14px;
    padding: 31px;
    width: 344px;
    font-family: 'Open Sans', sans-serif;
    border: black ridge;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 41px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.icon{
 background: none;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: none;
}
ol{
    list-style-type:none;
    display: flex;
    padding: none;
    margin: none;
  
}
ol li img{
    display:flex;
    justify-content:center;
    width: 100%;
}

  
}