.orangeblock{
    background-color: rgb(255, 183, 0);
    border-bottom-right-radius: 30px;
    margin: 20px;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.continentes ul{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type:none;
    display: flex;
    padding: 0px;
    margin: 20px;
}
.birdimage{
    background-color: rgb(240, 240 , 240);
    padding: 20px;
    display: flex;
    border: 1px;
    border-radius: 10px;
}
.birdimage img{
    max-height: 300px;
}
h3{
    font-family: 'DM Serif Display', serif;
    margin-block-start: 0px;
    margin-block-end: 20px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.showroom{
    margin: 20px;
}
.gallery{
    margin: 0px;
}