body{
    margin: 0;
}
.orangeblock{
    background-color: rgb(255, 183, 0);
    border-bottom-right-radius: 30px;
}
h1{
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.continents{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: rgb(150, 150 , 150);
    margin-top: 10px;
    margin-left: 0px;
}
ul{
    list-style-type:none;
    display: flex;
    margin: 20px;
}
ul li{
    margin: 10px;
}
.birdimage{
    background-color: rgb(240, 240 , 240);
    margin: 20px;
    padding: 20px;
    display: flex;
    border: 1px;
    border-radius: 10px;
}
.birdimage img{
    max-height: 300px;
}
h3{
    font-family: 'DM Serif Display', serif;
    margin-block-start: 0px;
    margin-block-end: 20px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.showroom{
    margin: 20px;
}
.gallery{
    margin: 0px;
}