*{
  font-size: 50px;
  font-family: 'DM Serif Display', serif;
  margin: auto;
}

     .titulos p{
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bolder;
      margin: 0;
      padding-top: 10px;
      padding-left: 10px;
      
    }
    .titulos h2{
        font-size: 21px;
    }
  .gallery{
    height: 370px;
    overflow: hidden;
  }
  .gallery img{
      margin-top: -200px;
  }
  .secciones {
    display: flex;
  }
  .secciones h3{
    font-size: 24px;
  }
  .secciones p{
    font-size: 12px;
  }
  .pause{
    background: orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }